.projects {
    background-color: #13151b;
    flex: 1;
    color: white;
}

.pageTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}